# Maven
target/
!target/*.jar

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE files
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

# Logs
logs/
*.log

# OS specific
.DS_Store
